<% 
  colors = [
    { class_name: "primary-100" },
    { class_name: "primary-300" },
    { class_name: "primary-500" },
    { class_name: "primary-700" },
    { class_name: "primary-900" },
    { class_name: "secondary-100" },
    { class_name: "secondary-300" },
    { class_name: "secondary-500" },
    { class_name: "secondary-700" },
    { class_name: "secondary-900" },
    { class_name: "dark-100" },
    { class_name: "dark-300" },
    { class_name: "dark-500" },
    { class_name: "dark-700" },
    { class_name: "dark-900" },
    { class_name: "light-100" },
    { class_name: "light-300" },
    { class_name: "light-500" },
    { class_name: "light-700" },
    { class_name: "light-900" },
    { class_name: "success-100" },
    { class_name: "success-300" },
    { class_name: "success-500" },
    { class_name: "success-700" },
    { class_name: "success-900" },
    { class_name: "danger-100" },
    { class_name: "danger-300" },
    { class_name: "danger-500" },
    { class_name: "danger-700" },
    { class_name: "danger-900" },
    { class_name: "warning-100" },
    { class_name: "warning-300" },
    { class_name: "warning-500" },
    { class_name: "warning-700" },
    { class_name: "warning-900" },
    { class_name: "info-100" },
    { class_name: "info-300" },
    { class_name: "info-500" },
    { class_name: "info-700" },
    { class_name: "info-900" },
  ]
%>
<div class="relative overflow-x-auto">
  <table class="w-full text-left text-xs lg:text-sm text-gray-500">
    <thead class="text-xs uppercase text-gray-700 border-b border-b-gray-300 bg-white">
      <tr>
        <th class="px-6 py-3 font-medium normal-case">#</th>
        <th class="px-6 py-3 font-medium normal-case">Class Name</th>
        <th class="px-6 py-3 font-medium normal-case">Color</th>
      </tr>
    </thead>
    <tbody>
      <% colors.each_with_index do |color, index| %>
        <tr class="bg-white last:border-b-0 hover:bg-gray-50 border-b border-b-gray-300">
          <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700">
            <%= index + 1 %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700">
            <%= color[:class_name] %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap font-normal text-gray-700 flex">
            <span class="w-5 h-5 <%= "bg-#{color[:class_name]}" %>"></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>