<div class="flex flex-col p-4 gap-4 lg:gap-0 lg:flex-row items-center lg:justify-between lg:p-6">
  <div class="text-sm font-medium text-gray-700 hidden lg:block">
    Showing <%= [pagy.offset + 1, pagy.count].min %> to <%= [pagy.offset + records.size, pagy.count].min %> of <%= pagy.count %> entries
  </div>
  <% if pagy.pages > 1 %>
    <%== custom_pagy_nav(pagy) %>
  <% end %>
</div>