<div class="flex items-center gap-2">
  <%= form.check_box field_name, class: "w-4 h-4 text-primary-500 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500" %>
  <%= form.label field_name, label, class: "text-sm text-gray-700 font-medium" %>
</div>