<li>
  <%= link_to url, class: "flex text-sm font-medium items-center px-4 py-2.5 rounded-sm group #{link_classes}" do %>
    <%= lucide_icon(icon, class: "size-5") %>
    <span class="ms-3"><%= name %></span>
  <% end %>
</li>