<div class="mt-5 flex flex-col gap-5">
  <div class="block bg-white border border-gray-300 rounded-lg divide-y divide-gray-300">
    <div class="p-4 lg:p-6">
      <h3 class="font-medium text-gray-700">Ingredient Stock Details</h3>
      <p class="text-sm text-gray-500">Below are the details of the ingredient stock.</p>
    </div>
    <div class="px-4 lg:px-6 text-gray-700 flex flex-col text-sm">
      <div class="flex gap-2 pt-4 pb-2">
        <div class="w-2/12">
          <span class="font-medium">Ingredient Name</span>
        </div>
        <div class="w-10/12">
          <span><%= ingredient_stock.name %></span>
        </div>
      </div>
      <div class="flex gap-2 pt-2 pb-2">
        <div class="w-2/12">
          <span class="font-medium">Quantity</span>
        </div>
        <div class="w-10/12">
          <span><%= "#{ingredient_stock.quantity} #{ingredient_stock.unit_type.name.titleize}" %></span>
        </div>
      </div>
      <div class="flex gap-2 pt-2 pb-4">
        <div class="w-2/12">
          <span class="font-medium">Note</span>
        </div>
        <div class="w-10/12">
          <span><%= ingredient_stock.note %></span>
        </div>
      </div>
    </div>
  </div>
</div>