<div class="flex gap-0 items-center justify-between">
  <h2 class="text-xl font-bold text-gray-700">Unit Types</h2>
  <div class="hidden lg:block">
    <%= render(Ui::BreadcrumbComponent.new) do %>
      <%= render(Ui::BreadcrumbItemComponent.new(url: super_admin_dashboard_path, icon: "layout-grid", name: "Dashboard")) %>
      <%= render(Ui::BreadcrumbItemComponent.new(name: "Unit Types", last: true)) %>
    <% end %>
  </div>
</div>
<%= render "unit_type_list", unit_types: @unit_types, pagy: @pagy, q: @q %>